<h1>Welcome <%= current_user.email %></h1>

<section class="created">
    <h2>Created Events</h2>
    <% if current_user.events.empty? %>
        <div class="empty-message">You have not created any event.</div>
    <% else %>
        <div class="events-container">
            <% current_user.events.each do |event| %>
                <div class="event-container">
                    <div class="event-title"><%= event.name %></div>
                    <div class="event-description"><%= event.description %></div>
                    <div class="event-geo">
                        <div class="event-location"><%= event.location %></div>
                        <div class="event-date"><%= event.date %></div>
                    </div>
                    <%= link_to 'Event details', event_path(event.id), class: 'event-details' %>
                    <div class="event-actions">
                        <%= link_to 'Edit Event', edit_event_path, method: :patch, class: 'event-action' %>
                        <%= link_to 'Delete Event', event_path, class: 'event-action', data: { turbo_method: :delete } %>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</section>

<section class="attended">
    <h2>Attended Events</h2>
    <% if current_user.attended_events.empty? %>
        <div class="empty-message">You have not attended any event.</div>
    <% else %>
        <h3>Past Events</h3>
        <div class="events-container">
            <% current_user.attended_events.where('date <= ?', Time.now).each do |event| %>
                <div class="event-container">
                    <%= link_to event.name, event_path(event.id), class: 'event-title' %>
                    <div class="event-description"><%= event.description %></div>
                    <div class="event-geo">
                        <div class="event-location"><%= event.location %></div>
                        <div class="event-date"><%= event.date %></div>
                    </div>
                </div>
            <% end %>
        </div>
        <h3>Future Events</h3>
        <div class="events-container">
            <% current_user.attended_events.where('date > ?', Time.now).each do |event| %>
                <div class="event-container">
                    <%= link_to event.name, event_path(event.id), class: 'event-title' %>
                    <div class="event-description"><%= event.description %></div>
                    <div class="event-geo">
                        <div class="event-location"><%= event.location %></div>
                        <div class="event-date"><%= event.date %></div>
                    </div>
                    <%= link_to 'Cancel Attendance', attend_event_path(event.id), data: { turbo_method: :delete }, class: 'event-action' %>
                </div>
            <% end %>
        </div>
    <% end %>
</section>