<h1>Check our upcoming events</h1>
<% if @events.empty? %>
  <div class="empty-message">There are no events at the moment.</div>
<% else %>
  <div class="events-container">
    <% @events.each do |event| %>
      <div class="event-container">
        <%= link_to event.name, event_path(event.id), class: 'event-title' %>
        <div class="event-description"><%= event.description %></div>
        <div class="event-geo">
          <div class="event-location"><%= event.location %></div>
          <div class="event-date"><%= event.date %></div>
        </div>
        <% if user_signed_in? %>
          <%= button_to 'Attend event', attend_events_path, class: 'event-option', form_class: 'event-option-form', params: { event: event.id }  %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
