<div class="details-container">
    <h1><%= @event.name %></h1>

    <div class="event-display">
        <div class="event-field">
            <div>Description</div>
            <div><%= @event.description %></div>
        </div>
        <div class="event-field">
            <div>Location</div>
            <div><%= @event.location %></div>
        </div>
        <div class="event-field">
            <div>Date</div>
            <div><%= @event.date %></div>
        </div>
    </div>

    <% if user_signed_in? && @event.creator_id == current_user.id %>
        <div class="event-attendees">
            <h2>Attendees</h2>
            <% if @event.attendees.empty? %>
                <div class="no-attendees">There are no attendees yet.</div>
            <% else %>
                <ul>
                    <% @event.attendees.each do |attendee| %>
                        <li class="event-attendee"> <%= attendee.email %> </li>
                    <% end %>
                </ul>
            <% end %>
        </div>
    <% end %>
</div>